<div class="navbar navbar-default navbar-blue">
			<div class="container">
				<!-- <div class="row"> -->
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#responsive-menu">
							<span class="sr-only">Навигация</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="" class="navbar-brand">Logo</a>
					</div>
					<div class="navbar-collapse collapse" id="responsive-menu">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Поиск и заказ<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<a href="#">Популярные направления</a>
										<ul class="dropdown-menu">
											<li><a href="#">Египет</a></li>
											<li><a href="#">Турция</a></li>
											<li><a href="#">Эмираты</a></li>
											<li><a href="#">Шри-Ланка</a></li>
											<li><a href="#">Таиланд</a></li>
											<li><a href="#">Австрия</a></li>
											<li><a href="#">Андорра</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="#">Акционные предложения</a>
										<ul class="dropdown-menu">
											<li><a href="http://www.tui.ua/actions/">Акции</a></li>
											<li><a href="http://www.tui.ua/allhottours/">Горящие туры</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="#">Идеи Вашего отдиха</a>
										<ul class="dropdown-menu">
											<li><a href="#">Пляжные туры</a></li>
											<li><a href="#">Горнолыжный отдых</a></li>
											<li><a href="#">Экскурсионные туры</a></li>
											<li><a href="#">Индивидуальные туры</a></li>
											<li><a href="#">Круизы</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="#">Дополнительно</a>
										<ul class="dropdown-menu">
											<li><a href="#">Авиабилеты</a></li>
											<li><a href="#">Прокат авто</a></li>
											<li><a href="#">Визы</a></li>
											<li><a href="#">Корпоративный туризм</a></li>
										</ul>
									</li>									
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Клубные концепции<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="http://agent.tui.ua/Concepts/CLUB-MAGIC-LIFE/">Club magic life</a></li>
								</ul>
							</li>
							<li><a href="#">Страны</a></li>
							<li class="dropdown">
								<a href="#"  class="dropdown-toggle" data-toggle="dropdown">Натхнення<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Спа</a></li>
									<li><a href="#">Выгодное предложение</a></li>
									<li><a href="#">Семейный отдых</a></li>
									<li><a href="#">Только для взрослых</a></li>
									<li><a href="#">Молодежный отдых</a></li>
									<li><a href="#">Спокойный отдых</a></li>									
								</ul>
							</li>
							<li><a href="#">Преимущества</a></li>
						</ul>
					</div>
				<!-- </div> -->
			</div>
				
		</div>